

*{
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E4E4D0;
    color: #333;
}
h1{
    color: #000000;
}
header {
    background-color: #94A684;
    color: white;
    padding: 20px;
    text-align: center;
}

.connect-wallet-btn {
    font-size: 1em;
    padding: 10px 20px;
    margin-top: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.form-section {
    width: 100%;
    max-width: 600px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}
#buyBtn{
    background-color: #76ABAE;
    padding: 0px;
    margin-top: 0;
    width: 60px;
    height: 30px;
    text-transform: capitalize;
    font-weight: bolder;
    
}
button {
    width: auto;
    padding: 10px;
    background-color: #94A684;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #ffffff;
}

.items-section {
    width: 100%;
    max-width: 800px;
}

#listItem{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}

#items div {
    background-color:#AEC3AE;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-top: 10px;
}
#hash a{
    text-decoration: none;
}

a:visited{
    color: #000000;
}
a:active{
    color:#75C2F6;
}

footer {
    background-color: #000000;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: 198px;
    position: relative;

}

footer .fa-heart {
    color: red;
}


@media (max-width: 768px) {
    header, .form-section, .items-section {
        padding: 10px;
    }

    button, input, textarea {
        width: 100%;
    }
}
